* {
    box-sizing: border-box;
    margin: 0;
    
}

:root {
    --original-color:  #a8caed;
    --text-color: #6a82a8;
    --background-color: #03224b;
}

body {
    font-family: 'Oswald';
    min-height: 100vh;
    background-color: whitesmoke;
    
    
}
main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

nav {
    display: flex;
    height: 50px;
    background-color: whitesmoke;
    font-size: 50px;
    padding-bottom: 3px;;
    margin: 0;
    align-items: center;
    color: black;
    width: 100%;
    }

    

    section {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: auto;
        
    }
    .backPic{
        height: 100%;
        width: 100%;

    }
    footer div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin: 20px 0;
    }

    footer {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0;
        background-color: whitesmoke;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo {
        border-radius: 10px;
        width: 100px;
        height: 100px;
        
    }
