* {
    box-sizing: border-box;
    margin: 0;
    
}

:root {
    --original-color:  #a8caed;
    --text-color: #6a82a8;
    --background-color: #03224b;
}

body {
    font-family: 'Oswald';
    min-height: 100vh;
    
    
}
main {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    height: 50px;
    background-color: white;
    font-size: 50px;
    padding-bottom: 3px;;
    margin: 0;
    align-items: center;
    color: black;
    width: 100%;
    }

    header{
        align-items: center;
        margin: 75px;
    }

    section {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: auto;
        
    }
    .backPic{
        height: 100%;
        width: 100%;

    }
    footer div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        margin: 20px 0;
    }

    footer {
        display: flex;
        width: 100%;
        align-items: center;
        margin: 0;
        background-color: white;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .logo {
        border-radius: 10px;
        width: 100px;
        height: 100px;
        
    }
/*nav > .logo {
    height: 30px;
    width: 20px;
    border-radius: 12px;
    border: 1px solid white;
    align-items: center;
    justify-content: space-evenly;

}





/*
header, footer {
    display: flex;
    align-items: center;
    color: var(--text-color);
    height: 65px;
    background-color: var(--background-color);
    width: 100%;
}

header{
    padding-left: 15px;
    font-family: var(--brand-text);
    text-shadow: 1px 1px 5px var(--accent-color)
}

.logo {
  
    width: 100px;
    height: 100px;
    border-radius: 35px;
    margin: auto;
    box-shadow: 1px 1px 1px 1px black;
    
}


footer{
    justify-content: center;
}
/*
Old style CSS with cards
* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --original-color:  #a8caed;
    --text-color: #6a82a8;
    --background-color: #03224b;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Oswald';
}

main {
    flex-grow: 1;
    
    
}

form {
    display:flex;
    align-items: flex-start;
    justify-content: baseline ;
    font-family: 'Oswald';

}

header, footer {
    display: flex;
    align-items: center;
    color: var(--original-color);
    background-color: var(--background-color);
    height: 65px;
    width: 100%;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

footer {
    justify-content: center;
    font-size: 10px;

}

header {
    padding: 15px;
    text-shadow: 1px 1px 5px 1px var(--original-color);
}
/*.picture {
    margin: 0;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
} */

/*.cards {
    width: 250px;
    height: 50px;
    border-radius: 12px;
    font-family: 'Oswald';
    color: var(--text-color);
    background-color: #e7e7e7;
    margin: auto;
    box-shadow: 1px 1px 1px 1px var(--background-color);
    text-transform: capitalize;
    text-align: center;
    flex-direction: row;
}

main > div{
    flex-wrap: wrap;
}

.cards:hover {
    box-shadow: 5px 5px 10px 5px var(--background-color);
}









/*
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Helvetica;
}

main {
    
    flex-grow: 1;
    flex-direction: column;
    

}

main > section {
    flex-wrap: wrap;
   
}

.card {
    width: 300px;
    height: 150px;
    border-radius: 12px;
    font-family: var(--brand-text);
    color: var(--primary-brand-color);
    margin: 10px;
    box-shadow: 1px 1px 1px 1px lightgray;
    text-transform: capitalize;

}

.card:hover {
    box-shadow: 1px 1px 17px 1px darkgray;
}

.outline {
    border: 1px solid var(--accent-color);

}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;

}

header, footer {
    display: flex;
    align-items: center;
    color: var(--secondary-brand-color);
    height: 65px;
    background-color: var(--primary-brand-color);
    width: 100%;
}

header{
    padding-left: 15px;
    font-family: var(--brand-text);
    text-shadow: 1px 1px 5px var(--accent-color)
}

footer{
    justify-content: center;
}

#modal {
    text-transform: capitalize;
    line-height: 30px;
    font-size: 20px;
}

*/
      

